replicaCount: 2
image:
 repository: <account-id>.dkr.ecr.<region>.amazonaws.com/pranay-docker-repo
 tag: ""
 pullPolicy: IfNotPresent
service:
 type: ClusterIP
 port: 5000
 targetPort: 5000
ingress:
 enabled: true
 className: nginx
 annotations:
  kubernetes.io/ingress.class: nginx
 hosts:
 - host: ""
 paths:
 - path: /
  pathType: Prefix
 tls: []

