{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "my-java-app.fullname" . }}-ingress
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  spec:
    ingressClassName: {{ .Values.ingress.className }}
    rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | default "" }}
      http:
      paths:
        {{- range .paths }}
        - path: {{ .path }}
          pathType: {{ .pathType | default "Prefix" }}
          backend:
            service:
              name: {{ include "my-java-app.fullname" $ }}
              port:
                number: {{ $.Values.service.port }}
       {{- end }}
   {{- end }}
{{- end }}
